.left-container{
	float: left;
	border-style: solid;
	height: 97vh;
	width: 15%;
}

.card{
	margin: 10px;
	display: table;
	border-style: solid;
	height: 8vh;
	width: 80%;
	vertical-align: middle;
}

.card-text{
	display: table-cell;
	vertical-align: middle;
}

.right-container{
	float: right;
	border-style: solid;
	height: 97vh;
	width: 80%;
}