.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px) !important;
	color: white;
	margin-bottom:0 !important;
	border-radius:0 !important;
	border:none !important;
	font-weight: 700;
	font-size: 18px;
}

.dummy {
    margin-top: 100%;
}

.full-width{
	width: 100%;
}

a:hover{
	text-decoration: none !important;
	/*color:grey !important;*/
}

body{
	background-color: #6D6D6D !important;
	color: white;
}

#mainRow{
	margin-left: 0;
	margin-right: 0;
	padding-right: 15px;
}
	
#tile0{
	background-color: #FF0097;
}
#tile5{
	background-color: #A200FF;
}
#tile1{
	background-color: #00ABA9;
}
#tile6{
	background-color: #8CBF26;
}
#tile2{
	background-color: #E671B8;
}
#tile7{
	background-color: #F09609;
}
#tile3{
	background-color: #1BA1E2;
}
#tile8{
	background-color: #E51400;
}
#tile4{
	background-color: #A05000;
}
#tile9{
	background-color: #339933;
}