.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px) !important;
	color: white;
	margin-bottom:0 !important;
	border-radius:0 !important;
	border:none !important;
	font-weight: 700;
}

.dummy {
    margin-top: 100%;
}

.full-width{
	width: 100%;
}

a:hover{
	text-decoration: none !important;
	/*color:grey !important;*/
}

body{
	background-color: #6D6D6D !important;
	color: white;
}

#mainRow{
	margin-left: 0;
	margin-right: 0;
	padding-right: 15px;
}
	
#tile0{
	background-color: #5856d6;
}
#tile5{
	background-color: #ff2d55;
}
#tile1{
	background-color: #007aff;
}
#tile6{
	background-color: #ff3b30;
}
#tile2{
	background-color: #34aadc;
}
#tile7{
	background-color: #ff9500;
}
#tile3{
	background-color: #5ac8fa;
}
#tile8{
	background-color: #ffcc00;
}
#tile4{
	background-color: #4cd964;
}
#tile9{
	background-color: #8e8e93;
}