.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px) !important;
	color: white;
	margin-bottom:0 !important;
	border-radius:0 !important;
	border:none !important;
	font-weight: 700;
	font-size: 18px;
}

.dummy {
    margin-top: 100%;
}

.full-width{
	width: 100%;
}

a:hover{
	text-decoration: none !important;
	/*color:grey !important;*/
}

body{
	background-color: #6D6D6D !important;
	color: #333;
}

button{
	font-size: 16px !important;
}
#tileText{
	font-size: 16px !important;
}

#search{
	font-size: 16px !important;
}

#searchButton{
	font-size: 16px;
}

#mainRow{
	margin-left: 0;
	margin-right: 0;
	padding-right: 15px;
}

#modalForm{
	height: 50%;
	color: #333;
}

#results{
	height: 50%;
	font-size: 16px;
}

.tile-color-0{
	background-color: #A4C400 !important;
}
.tile-color-5{
	background-color: #60A917 !important;
}
.tile-color-1{
	background-color: #008A00 !important;
}
.tile-color-6{
	background-color: #00ABA9 !important;
}
.tile-color-2{
	background-color: #1BA1E2;
}
.tile-color-7{
	background-color: #0050EF;
}
.tile-color-3{
	background-color: #6A00FF;
}
.tile-color-8{
	background-color: #AA00FF;
}
.tile-color-4{
	background-color: #F472D0;
}
.tile-color-9{
	background-color: #D80073;
}
.tile-color-10{
	background-color: #A20025;
}
.tile-color-11{
	background-color: #E51400;
}
.tile-color-12{
	background-color: #FA6800;
}
.tile-color-13{
	background-color: #F0A30A;
}
.tile-color-14{
	background-color: #E3C800;
}
.tile-color-15{
	background-color: #825A2C;
}
.tile-color-16{
	background-color: #6D8764;
}
